<%= link_to 'New Project', new_project_path, class: 'pull-right btn btn-primary margin-bottom-30' %>
<div class="row">
  <div class="">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td>
              <%= project.title %>
            </td>
            <td>
              <%= link_to 'Edit', edit_project_path(project) %> | 
              <%= link_to 'Assign Project', project_path(project.id) %> | 
              <%= link_to 'Add New Feature', new_project_feature_path(project.id) %> | 
              <%= link_to 'Features', project_features_path(project.id) %> | 
              <%= link_to 'Pie Chart', pie_chart_project_path(project.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>